{% extends "three_d_viewer/erb101/base.html" %}

{% block content %}
<div id="pushDownTwo"></div>
<div id="mainText">
    <h3 class="headings">ERB101 - Earth Systems</h3><br><br>
    <p>
    Earth Science impacts every aspect of modern life. Hence, the concepts of Earth Science 
are fundamental not only to the field of Geology, but also to Environmental Science, natural 
resource management, civil engineering and society at large. Earth Systems provides an 
introduction to Earth Science, including earth materials, geologic history, geological and 
physical geography process at the Earth's surface, and the complex interplay between the 
lithosphere and landscapes. Additionally, the unit provides readily accessible examples of 
the use of scientific reasoning for understanding complex natural systems. Hence, Earth 
Systems is a foundation unit for further studies in Geology and Environmental Science, but 
more importantly, serves as a broad introduction to the very world we live on and to the ways 
of science in general. Such a background is highly desirable for any informed citizenry for 
understanding complex issues of resource, environment, and societal development.
    </p>
</div>
{% endblock %}