{% extends "three_d_viewer/base.html" %}
{% load static %}

{% block content %}
    <div id="pushDownTwo"></div>
        <div id="mainText">
        <h1 class="subHeadings">Theory</h1>
        <h2 class="theoryHeadings" id="structureofearth">Structure of Earth</h2>
        <p>
	The Earth's structure is differentiated in three distinct layers: the core, mantle, and crust. The layers are distinguished by a change in the velocity of seismic waves at their boundaries. 
	The crust is the upper most part of the earth, with depths ranging from an average of 7km in in the oceans, to an average of 38km in continental crust. 
	The crust thickens underneath mountain ranges, and can reach depths of 90km underneath the Himalayas. The composition of the crust also differs between oceanic and 
	continental environments. Ocean crust is young mafic crust dominated by basalts and gabbros that is recycled regularly(~300Ma) due to subduction processes. 
	Continental crust is much more varied in structure and composition than oceanic, but has an overall average composition of granodiorite. 
	<br /><br />
	The boundary of the crust and mantle is defined by the Mohorovi?i? discontinuity, commonly referred to as the Moho. 
	It is defined by a sharp increase in seismic wave velocity, due to a change in material properties between crustal rocks and mantle rocks. The mantle is dominated by 
	silicate minerals that are rich in iron and magnesium, chiefly pyroxenes and polymorphs of olivine, forming peridotite. The mantle, while solid, behaves plastically, 
	allowing to flow at very slow rates.
	<br /><br />
	The core is distinguished by the absence of S waves, leading to the inference that the core is liquid. The core is separated into the outer core and the inner core. 
	The outer core is liquid dominated by iron and nickel. The inner core is solid, as determined by the strong refraction of P waves at the inner core-outer core boundary, 
	and was formed by crystalizing minerals from the liquid part of the core as the Earth cools. 
	<br /><br />
	The crust and mantle are also further distinguished by material properties into the lithosphere, asthenosphere, and mesosphere. The chemical composition is 
	uniform throughout the mantle though, but changes in pressure and temperature determine which polymorphs will exist at different depths. 
	The lithosphere contains the crust, and the upper part of the mantle down to ~100km under oceanic crust, and 200-300km under continental crust (Twiss & Moores, 2007). 
	The lithosphere-asthenosphere boundary is defined by the 1300K isotherm, which is the temperature where olivine starts to behave viscously.  
	The rocks in the mesosphere are under more pressure than those in the asthenosphere, so no longer behave viscously.</p>
	<figure>
		<img src="{% static "three_d_viewer/images/structure - usgs.gif" %}" style="padding-top:20px;">
		<figcaption><p>Image sourced from <a href="http://pubs.usgs.gov/gip/dynamic/graphics/FigS1-1.gif">USGS</a>.</p></figcaption>
	</figure>
</div>
        <div id="pushDownThree"></div>
        </div>
{% endblock %}
