{% extends "three_d_viewer/base.html" %}

{% block content %}
    <div id="pushDown"></div>
    <div id="mainText">
        <h3 class="headings">Acknowledgements</h3><br><br>
	<p>
	3DVOL has been been developed by Shane Frischkorn, Andy Bates, Christoph Shrank, Mark Barry, Linda Nothdurft, and Luke Nothdurft.
	</p>
	<br /><br />
        <p>3DVOL is funded by the QUT Teaching and Learning Unit and the School of Earth, Environmental, and Biological Sciences. QUT High Performance Computing provides technical support.
        </p>
    </div><!-- CLOSE MAINTEXT !-->
{% endblock %}