{% load static %}
{% load dajaxice_templatetags %}

<html>
<head>
<meta charset="UTF-8">
<title>3DVOL - 3D Virtual Object Library</title>

{% block includes %}
<link href="{% static "three_d_viewer/css/styles.css" %}" rel="stylesheet" media="screen" />
<script type="text/javascript" src="{% static "three_d_viewer/js/jquery.min.js" %}"></script>
<script type='text/javascript' src="{% static "three_d_viewer/js/menu_jquery.js" %}"></script>
{% endblock %}
</head>

<body onload={% block loadscript %}""{% endblock %}>
<div id="wrapper">
<div id="container">
	<div id="header">
        <div id="logo">
		<img src={% static "three_d_viewer/images/logo2.png" %}>
        </div><!-- CLOSE LOGO !-->
    	<div id="menuContainer">
            <div id='cssmenu'>
            <ul>
               <li class='active mainitem'><a href="{% url 'three_d_viewer:home' %}"><span>Home</span></a></li>
               <li class='has-sub mainitem'><a href='#'><span>Minerals</span></a>
                  <ul>
                     <li class='has-sub'><a><span>Theory</span></a>
                        <ul>
                           <li><a href="{% url 'three_d_viewer:theory_structure' %}"><span>Structure of Earth</span></a></li>
                           <li><a href="{% url 'three_d_viewer:theory_pt' %}"><span>Pressure and temperature</span></a></li>
                           <li class='last'><a href="{% url 'three_d_viewer:theory_bowen' %}"><span>Bowen's reaction series</span></a></li>
                        </ul>
                     </li>
                     <li><a href="{% url 'three_d_viewer:minerals_practice' %}"><span>Practice</span></a></li>
                     <!--<li class='last'><a href="{% url 'three_d_viewer:minerals_selftest' %}"><span>Self Test</span></a></li>!-->
                  </ul>
               </li>
               <li class="mainitem"><a href="{%  url 'three_d_viewer:rocks_practice' %}"><span>Rocks</span></a></li>
               <li class='last mainitem'><a href="{%  url 'three_d_viewer:fossil_practice' %}"><span>Fossils</span></a></li>
            </ul>
            </div><!-- CLOSE CSSMENU !-->
    </div><!-- CLOSE MENUCONTAINER !-->
    </div><!-- HEADER !-->
    <div id="content">
        {% block content %}
        {% endblock %}
    </div><!-- CLOSE CONTENT !-->
</div><!-- CLOSE CONTAINER !-->
<div id="push"></div><!-- CLOSE PUSH !-->
</div><!-- CLOSE WRAPPER !-->
<div id="footer">
<ul>
	<li><a href="{% url 'three_d_viewer:glossary' %}">Glossary</a></li>
    <li>&nbsp; - &nbsp;</li>
    <li><a href="{% url 'three_d_viewer:acknowledgements' %}">Acknowledgements</a></li>
</ul>
</div><!-- CLOSE FOOTER !-->
</body>
</html>