{% extends "three_d_viewer/base.html" %}

{% block content %}
    <div id="pushDownTwo"></div>
    <div id="mainText">
        <h3 class="headings">Welcome to 3DVOL – Minerals.</h3><br><br>
	<p>
        This website contains a three-dimensional virtual object library of the most important rock-forming minerals making up planet Earth. You will find information on:<br>
	</p>
        <br/>
        <ul class="introList">
          <li><p>Which are the most common minerals on Earth?</p></li>
          <li><p>What are their most important physical and chemical properties?</p></li>
        <li><p>Where in the Earth and under which physical conditions do they form?</p></li>
        <li><p>How can they be identified in hand specimen?</p></li>
        </ul>
<br/>
        <p>A mineral is typically defined as an inorganic solid with a particular chemical composition and a characteristic, periodic atomic structure.
        This characteristic atomic make-up is often reflected in the macroscopic crystalline structure of a mineral.
        The 3D models presented on this website will help you to visualise, study, and memorise these beautiful and often
        complex crystal structures as well as other diagnostic features of minerals.
        <br>
        We hope that you enjoy using 3DVOL.
         </p>
	<br /><br /><br />
	<p>
	DISCLAIMER
	<br /><br />
	This website is a prototype and in statu nascendi. Our development team will continue to add 3D models and associated information 
	and metadata. Various modules do not work yet, for example, the self-practice section. In addition, the website only works with 
	Mozilla Firefox and Google Chrome at the moment. The website can only be accessed from within the QUT network. 
	If you would like to access it from home, you will need to use QUT VPN to do so.
	<br /><br />
	However, we would appreciate if you would have a play with the existing models. We try to evaluate how useful a website 
	like this could be as a complementary teaching tool. Further developments require a lot of man hours and hence funding. 
	If we can demonstrate that you, the user, deem this website interesting and potentially useful we have a good chance to 
	continue our work on 3DVOL. Hence, we kindly ask you to provide your valued feedback. To this end, we set up a short survey, 
	which you can access via this URL: <a href="http://app.gosoapbox.com/">http://app.gosoapbox.com/</a>. The access code is: 3dvol
	<br /><br />
	Alternatively, we are also happy to receive feedback and comments via e-mail. Please, feel free to contact any of the people below.
	<br /><br />
	Thanks a lot and happy exploring,
	<br />
	Your 3DVOL team
	<br /><br />
	Contacts:
	</br><br />
	Christoph Schrank: <a href="mailto:christoph.schrank@qut.edu.au">christoph.schrank@qut.edu.au</a><br />
	Linda Nothdurft: <a href="linda.nothdurft@qut.edu.au">linda.nothdurft@qut.edu.au</a><br />
	Luke Nothdurft: <a href="l.nothdurft@qut.edu.au">l.nothdurft@qut.edu.au</a><br />
	</p>
    </div><!-- CLOSE MAINTEXT !-->
{% endblock %}