{% extends "three_d_viewer/base.html" %}

{% block content %}
    <div id="pushDown"></div>
    <div id="mainText">
        <p><h3>Welcome to 3DVOL – Minerals.</h3><br><br>
        This website contains a three-dimensional virtual object library of the most important rock-forming minerals making up planet Earth. You will find information on:<br>
        <ul>
          <li>Which are the most common minerals on Earth?</li>
          <li>What are their most important physical and chemical properties?</li>
        <li>Where in the Earth and under which physical conditions do they form?</li>
        <li>How can they be identified in hand specimen?</li>
        </ul>
        A mineral is typically defined as an inorganic solid with a particular chemical composition and a characteristic, periodic atomic structure.
        This characteristic atomic make-up is often reflected in the macroscopic crystalline structure of a mineral.
        The 3D models presented on this website will help you to visualise, study, and memorise these beautiful and often
        complex crystal structures as well as other diagnostic features of minerals.
        <br>
        We hope that you enjoy using 3DVOL.
        <br><br>
        Your 3DVOL team
        <br><br>
        Acknowledgements
        <br>
        3DVOL is funded by the QUT Teaching and Learning Unit and the School of Earth, Environmental, and Biological Sciences. QUT High Performance Computing provides technical support.
        </p>
    </div><!-- CLOSE MAINTEXT !-->
{% endblock %}