<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>3DVOL - Minerals/Practice</title>
<link rel='stylesheet' type='text/css' href='styles.css' />
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script type='text/javascript' src='menu_jquery.js'></script>
<script>
	$(document).ready(function(){
	
	$('a').click(function () {
	var divname= this.name;
	$("#"+divname).show("slow").siblings().hide("slow");
	});
	
	});
</script> 
</head>

<body>
<div id="wrapper">
<div id="container">
	<div id="header">
        <div id="logo">
        <p>3D VOL</p>
        </div>
    	<div id="menuContainer">
            <div id='cssmenu'>
            <ul>
               <li class='active mainitem'><a href='home.html'><span>Home</span></a></li>
               <li class='has-sub mainitem'><a href='#'><span>Minerals</span></a>
                  <ul>
                     <li class='has-sub'><a href='minerals_theory.html'><span>Theory</span></a>
                        <ul>
                           <li><a href='minerals_theory.html#structureofearth'><span>Structure of Earth</span></a></li>
                           <li><a href='minerals_theory.html#pressureandtemp'><span>Pressure and temperature</span></a></li>
                           <li class='last'><a href='minerals_theory.html#bowensreactionseries'><span>Bowen's reaction series</span></a></li>
                        </ul>
                     </li>
                     <li><a href='#'><span>Practice</span></a></li>
                     <li class='last'><a href='minerals_selftest.html'><span>Self Test</span></a></li>
                  </ul>
               </li>
               <li class="mainitem"><a href='#'><span>Rocks</span></a></li>
               <li class='last mainitem'><a href='#'><span>Fossils</span></a></li>
            </ul>
            </div>
    </div>
    <div id="content">
		<div id="sidebar">
                            <div id='mineralMenu'>
                            <ul>
                                <li class="has-sub mainitem"><a href="#">Select a mineral</a>
                                <ul>
                                       <li><a href='#mineralOne' name="mineralOne"><span>Mineral 1</span></a></li>
                                       <li><a href='#mineralTwo' name="mineralTwo"><span>Mineral 2</span></a></li>
                                       <li><a href='#mineralThree' name="mineralThree"><span>Mineral 3</span></a></li>
                                       <li><a href='#mineralFour' name="mineralFour"><span>Mineral 4</span></a></li>
                                       <li class="last"><a href='#mineralFive' name="mineralFive"><span>Mineral 5</span></a></li>
                                </ul>
                                </li>
                            </ul>
                            </div><!-- close MINERALMENU !-->
                            <div id="mineralContainer">
                                <div id="mineralOne" style="display:none">
                                	<h1 class="subHeadings">Mineral name here</h1>
                                	<h2 class="theoryHeadings">Physical properties</h2>
                                    <p>Info about the mineral here</p>
                                    <p>Info about the mineral here</p>
                                    <p>Info about the mineral here</p>
                                    <h2 class="theoryHeadings">Diagnostic features</h2>
                                    <p>Info about the mineral here</p>
                                    <p>Info about the mineral here</p>
                                    <p>Info about the mineral here</p>
                                    <h2 class="theoryHeadings">Geological significance</h2>
                                    <p>Info about the mineral here</p>
                                    <p>Info about the mineral here</p>
                                    <p>Info about the mineral here</p>
                                </div>
                                <div id="mineralTwo" style="display:none">
                                	<p>Info about mineral 2</p>
                                </div>
                                <div id="mineralThree" style="display:none">
                                	<p>Info about mineral 3</p>
                                </div>
                                <div id="mineralFour" style="display:none">
                                	<p>Info about mineral 4</p>
                                </div>
                                <div id="mineralFive" style="display:none">
                                	<p>Info about mineral 5</p>
                                </div>
                            </div>
        </div>
        <div id="virtualObject">
        
        	<img src="images/rock_example.jpeg" class="example" />
        
        </div>
    </div>
</div>

<div id="push"></div><!-- CLOSE PUSH !-->
</div><!-- CLOSE WRAPPER !-->
<div id="footer">
<ul>
	<li><a href="#">Glossary</a></li>
    <li>&nbsp; - &nbsp;</li>
    <li><a href="#">Acknowledgements</a></li>
</ul>
</div><!-- CLOSE FOOTER !-->

</body>
</html>
