{% extends "three_d_viewer/base.html" %}

{% block content %}
    <div id="pushDownTwo"></div>
    	<div id="mainText">
        <h1 class="subHeadings">Theory</h1>
        <p>Text about the theory section</p>
        <h2 class="theoryHeadings" id="structureofearth">Structure of Earth</h2>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p>
        <h2 class="theoryHeadings" id="pressureandtemp">Pressure and temperature</h2>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p>
        <h2 class="theoryHeadings" id="bowensreactionseries">Bowen's reaction series</h2>
        <p>Line of placeholder text</p>
        <p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p><p>Line of placeholder text</p>
        <div id="pushDownThree"></div>
        </div>
{% endblock %}
