{% extends base_template %}

{% block content %}
<div id="sidebar">
    <div id='mineralMenu'>
        <ul>
            <li class="has-sub mainitem"><a href="#">{%  block menu_header %}Select a sample{%  endblock %}</a>
            <ul>
                {% for sample in active_samples %}
                    {% if base_template == 'three_d_viewer/base.html' %}
                       <li><a href={% url 'three_d_viewer:'|add:sample.url sample.id %}>{{ sample.name }}</a></li>
                    {% else %}
                        <li><a href={% url 'three_d_viewer:erb101_'|add:sample.url sample.id %}>{{ sample.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            </li>
        </ul>
    </div><!-- close MINERALMENU !-->
    {% block sample_detail %}
    {% endblock %}
</div>

{% block 3dcontent %}
{%  endblock %}

{% endblock %}